*{
    background-color: rgb(23, 24, 32);
    font-family: Arial, Helvetica, sans-serif;
}
.container{   
    width: 100%;
    height: 600px; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}
.header-box{
    width: 95%;
    height: 25%;
    margin: 20px 0px;
    background-color: rgba(197, 197, 197, 0.253);
    border-radius: 10px; 
}
.header-title { 
    width: auto;  
    color: whitesmoke; 
}
.header-title h1{
    padding: 10px 20px;
    font-size: 36px;
    background-color: rgba(197, 197, 197, 0.253);
    font-family: "Lucida Console", Courier, monospace;
}
.content-box{
    width: 95%;
    height: auto;
    margin: 20px 0px;    
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center; 
    border-width: 5px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(29, 184, 29), 
      yellow,
      rgb(255, 0, 0),
      rgba(22, 22, 22, 0.63)
    ) 1 100%;
}
.content{
    width: 280px;
    height: 350px;
    margin: 10px;
    background-color: rgba(254, 255, 255, 0.178);
    border-radius: 10px;
}